<ActionBar title="Contact Us" class="action-bar">
</ActionBar>
<ScrollView orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto auto auto">
        <StackLayout row="0">
            <StackLayout class="p-5 border">
                <StackLayout>
                    <Label class="h2" text="Contact Information"></Label>
                    <StackLayout class="p-10">
                        <StackLayout>
                            <Label class="h4" text="121, Clear Water Bay Road"></Label>
                            <Label class="h4" text="Clear Water Bay, Kowloon"></Label>
                            <Label class="h4" text="HONG KONG"></Label>
                            <Label class="h4" text="Tel: +852 1234 5678"></Label>
                            <Label class="h4" text="Fax: +852 8765 4321"></Label>
                            <Label class="h4" text="Email:confusion@food.net"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>